<!DOCTYPE html>
<html lang="en" class="transition-colors duration-300">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'component/favicon.html' %}

    {% include 'component/cdn.html' %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    
    <title> {% block title %} Default {% endblock %}</title>

</head>

<body class="bg-white dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300">
    {% block content %}{% endblock %}

    <!-- JS -->
    <script type="module" 
        src="{{ url_for('static', filename='js/main.js') }}" defer>
    </script>

</body>

</html>